---
layout: home
title: Courses
---
<h1>Courses</h1>

<h2>Current Courses</h2>
<ul>
  {% for course in site.courses %}
    {% if course.status == "current" %}
    <li>
        <h2><a href="{{ course.url }}">{{ course.name }}</a></h2>
      <p>{{ course.desc }}</p>
    </li>
    {% endif %}
  {% endfor %}
</ul>

<h2> Previous Courses</h2>
<ul>
    {% for course in site.courses %}
        {% if course.status == "previous" %}
      <li>
          <h2><a href="{{ course.url }}">{{ course.name }}</a></h2>
        <p>{{ course.desc }}</p>
      </li>
      {% endif %}
    {% endfor %}
  </ul>